DB_CONNECTIONS = mongodb+srv://cem:cem@cluster0-wyyx4.mongodb.net/test?retryWrites=true&w=majority
ACCESS_TOKEN_SECRET = fds45465s4fsvF4@5
ADMIN_TOKEN_SECRET = kjbkdjnbiuhuhu
EMAIL_ADDRESS = <EMAIL_ADDRESS>
EMAIL_PASSWORD = <EMAIL_PASSWORD>
CUBEJS_API_SECRET=kjhdskjhfjksdhklfhjahfljhlfjsd
CUBEJS_DB_TYPE=mongobi
CUBEJS_DB_NAME=<your database>

CUBEJS_DB_HOST=localhost
CUBEJS_DB_PORT=3307
